x.header
  h1
    strong FeBe
.modal-container
  label.has-text-centered(for='button_1') open video chat
  input#button_1.modal-toggle(type='checkbox' notchecked='notchecked')
  .modal-backdrop
    .modal-content.blur
      label.modal-close(for='button_1') x
      h2 Video chat room
      hr
      a.donation(href='#/donate/') I frame goes here
