x.header
  h1
    strong FeBe
.modal-container
  label.has-text-centered(for='button_1') open video 
  input#button_1.modal-toggle(type='checkbox' notchecked='notchecked')
  .modal-backdrop
    .modal-content.blur
      label.modal-close(for='button_1') x
      iframe(width='350', height='275', src='https://meet.jit.si/FebeMetaverse', frameborder='0', allowfullscreen)