doctype html
html(lang="en")
  head
    title Welcome to FeBe
    link(rel="stylesheet", href="style.css")
    script(src="script.js")
  body
  #background
      .overlay    
      header
        nav
          ul
            li
              a(href="about.html") About Us
            li
              a(href="how-to-play.html") How to Play
            li
              a(href="coming-up.html") Coming Up
            li
              a(href="about.html") Mentor sign up
      main
        .left
          h1 FeBe is a virtual world where women can develop a network and learn about STEM with the help of incredible mentors
          button#join-button Join
        .right
          img(src="https://rawcdn.githack.com/5Bianca/Blender/c91b8989e91f1009e784fb080f5e07b15b9be112/blogo.png")
          p Female Empowerment Benefits Everyone

    .renderer-container(style="display: none;")
      canvas#canvas
    .scene-container(style="display: none;")
      canvas#scene-canvas
